ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 20 0 0px;
}
.card{
    margin: 0px;
    padding: 0%;
}
.card-header{
    font-family: Roboto;
    text-decoration: none;
    font-size: 20px;
}
.card-body{
    text-decoration: none
}
.card-body p{
    /* background-color: red;
    color: white; */
    font-family: Roboto ;
    font-size: 25px;
}
.author{
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;

}
.card-footer{
    /* background-color: red;
    color: white; */
    font-family: Roboto ;
    font-size: 25px;
}
.container{
    background-color: 003566;
}