.card{
    margin: 0px;
    padding: 0%;
}
.card-header{
    font-family: Roboto;
    text-decoration: none;
    font-size: 25px;
    background-color: green;
}
.card-body{
    text-decoration: none
}
.card-body p{
    /* background-color: red; */
   
    font-family: Roboto ;
    font-size: 25px;
}
.author{
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;

}
.card-footer{
    /* background-color: red; */
    /* color: white; */
    font-family: Roboto ;
    font-size: 25px;
}
.container{
    background-color:burlywood;
}
.sources{
    background-attachment: fixed;
    font-size: x-large;
    background-color: indigo;
}