
{% extends 'base.html' %}
{% block title %}
    {% if title %}
    <time>{{title}}</time>
    {% else %} 
     <title>trending Articles</title>
     {% endif %}
{% endblock %}

{% block content %}
<h1 class="text-lead">These are the trending articles here</h1>
    <ul>
        {% for article in articles %}
            <div class="card-column">
                <div class="card-header">
                    <p>{{article.title}}</p>
                </div>
                <div class="card-body">
                    <img src="{{article.urlToImage}}" alt="{{article.title}}"  width="1200px" height="500px">
                    <p class="text text-lead">{{article.description}}</p>
                    <p><a href="{{article.url}}">Read more...</a></p>
                </div>
                <div class="card-footer">
                    <p>Published by {{article.author}} at {{article.publishedAt}}</p>
                </div>
            </div>
        {% endfor %}
{% endblock %}