{% import 'macros.html' as macro%}
{% extends 'base.html' %}


{% block title %}
    
    {% if title %}
        {{title}}
    {% else %}
        <title>News App</title>
    {% endif %}
{% endblock %}


<!-- <body>

    <div class="row">
        <div class="col-md-3">
            <h1>{{message}}</h1>
            {% for top_healine in top_headlines %}
            <ul>
                <li>{{top_healine.title}}-{{top_healine.publishedAt}}</li>

            </ul>
            {% endfor %}
</body>
<h3>News sources</h3>
<hr>
<ol>
    {% for source in sources %} -->
    <!-- <li><a href="{{source.url}}">{{source.name}}</a></li> -->
    <!-- <a href="/article/{{source.id}}">
        <p class="text-capitalize text-muted">{{source.name}}</p>
        {% endfor %}
</ol>
</div>
</div>

</html> -->
{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1>{{message}}</h1>
        {% for top_healine in top_headlines %}
        <ul>
            <li>{{top_healine.title}}-{{top_healine.publishedAt}}</li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <h3>News sources</h3>
        <hr>
        <ol>
            {% for source in sources %}
            <!-- <li><a href="{{source.url}}">{{source.name}}</a></li> -->
            <a href="/article/{{source.id}}">
                <p class="text-capitalize text-muted">{{source.name}}</p>
                {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}

