{% extends 'base.html' %}
{% import 'macros.html' as macro%}



{% block title %}

{% if title %}
{{title}}
{% else %}
<title>News App</title>
{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1 class="text text-center text-uppercase text-lead">{{message}}</h1>
            <hr>
            <div class="card-columns">
                {% for top_headline in top_headlines %}
                <div class="card">
                    <div class="card-header">
                        <p>{{top_headline.title}}</p>
                    </div>
                    <div class="card-body">
                        <img src="{{top_headline.urlToImage}}" alt="{{top_headline.title}}" width="700px"
                            height="500px">
                        <p><a href="{{top_headline.url}}">{{top_headline.description}}</a></p>
                    </div>
                    <div class="card-footer">
                        <p> Published by <span class="author"> {{top_headline.author}}</span> at <span
                                class="author">{{top_headline.publishedAt}}</span></p>
                                
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text text-capitalize">News sources</h3>
            <hr>
            <div class="sources">
                {% for source in sources %}
                <div class="sources">
                <a href="/article/{{source.id}}">
                    <p class="text-capitalize text-muted" >{{source.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}